.bills {
  background-color: $very-dark-cyan;
  padding: 2rem;
  border-radius: 0.8rem;

  @media only screen and (min-width: 950px) {
    & {
      height: 385px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }


}

.bills.m-top-med {
  @media only screen and (min-width: 950px) {
    & {
      margin-top: 0;
    }
  }
}

.bill {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;

  &__paragraph {
    color: $dark-grayish-cyan-1;
  }

  &__amount {
    color: $strong-cyan;
    font-size: 4rem;
  }
}
