.input-container {
  position: relative;
}

.text-input {
  outline: 1px solid $light-grayish-cyan-2;
  background-color: $light-grayish-cyan-2;
  border: 1px solid $light-grayish-cyan-2;
  font-size: 2.4rem;
  width: 100%;
  text-align: right;
  color: $very-dark-cyan;
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  border-radius: 2px;
  padding: 1rem 3rem;
}

.tip-custom-input {
  width: 15rem;
  border-radius: 0.4rem;
  margin: 0.5rem 0;
  @media only screen and (min-width: 950px) {
    & {
      width: 13rem;
    }
  }
}

.tip-custom-input > .text-input {
  padding: 1rem 3rem;
  border-radius: 0.8rem;

  @media only screen and (min-width: 950px) {
    & {
      padding: 1rem 1rem;
    }

    &::placeholder {
      text-align: center;
    }
  }
}
