.input-container {
    position: relative;
}

.text-input {
    outline: 1px solid $light-grayish-cyan-1;
    background-color: $light-grayish-cyan-2;
    border: 1px solid $light-grayish-cyan-2;
    font-size: 2.4rem;
}